<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--搜索引擎设置-->
  <!-- 神马搜索 -->
  <meta
    name="shenma-site-verification"
    content="36515523d294e3b9ac51470514b95d0f_1619104718"
  />
  <!-- 字节搜索 -->
  <meta name="bytedance-verification-code" content="goiuPbMMzfSO95mdy5MK" />
  <!-- 百度搜索 -->
  <meta name="baidu-site-verification" content="code-RuvJbCxVTs" />
  <!-- 谷歌搜索 -->
  <meta
    name="google-site-verification"
    content="a8Vsy1HXkWjntRXX9yT7ShLKZu9oR6mmMslfwTsBSec"
  />
  <!-- bing搜索 -->
  <meta name="msvalidate.01" content="45E47B187AE16BFA69C0A2CEB21BE29F" />
  <!-- 字节爬虫脚本 -->
  <script async>
    (function () {
      var el = document.createElement("script");
      el.src =
        "https://sf1-scmcdn-tos.pstatp.com/goofy/ttzz/push.js?b357f1ed2a688909d06d2cfabe1835bb2680b49105dfb00261c7b4ba68e3607460ee6cf0ba1faa1fd426c5503818ff173d2859afc1f3c0c26a1fdfd487b8b599cce3a6dd9046b785a9d577e900bd16c5";
      el.id = "ttzz";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(el, s);
    })(window);
  </script>
  <!-- 留言组件，必须加载完才能渲染，不能async -->
  <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
  <title>
    {%- if page.title -%} {{ page.title }} {%- else -%} {{ site.title }} {%-
    endif -%}
  </title>

  {%-seo title=false-%} {%-feed_meta-%}
  <!-- 留言样式 -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css"
  />
  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="{{ site.favicon | relative_url }}"
  />
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
</head>
