a {
  color: #e67e22;
  cursor: pointer;
  text-decoration: none;
}
a:visited {
  color: #cd5c5c;
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
  a {
    color: black;
    cursor: pointer;
    text-decoration: underline dotted;
  }
  a:visited {
    color: gray;
  }
}

code{
  font-size: 0.7rem;
}

img{
  width: 85%;
}

h2,
h3,
h4,
h5,
h6 {
  &::before{
    content: "☞";
    font-size: 0.8em;
    margin-left: -1.6em;
    margin-right: 0.8em;
    opacity: 0.3;
  }
}