a {
  color: #e67e22;
  cursor: pointer;
  text-decoration: none;
}
a:visited {
  color: #cd5c5c;
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
  a {
    color: black;
    cursor: pointer;
    text-decoration: underline dotted black;
  }
  a:visited {
    color: gray;
  }
}
