---
---

@import "no-style-please";
@import "code-highlight";
@import "link";
// 自定义博客修改属性
// center标签作为图片的注解使用
center {
  color: gray;
  font-size: xx-small;
  font-style: italic;
}
// 设置视口宽度
@media screen and (max-width: 640px) {
  .w {
    width: 90%;
    padding: 0 5%;
  }
}
// 引用的断行问题修复
blockquote {
  word-wrap: break-word;
}
a {
  color: #808e9b;
  cursor: pointer;
  text-decoration: none;
}
